@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #248580;
  --secondary: #8a9a5b;
  --accent: #551f55;
  --background: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
}

.flip-card-inner {
  transform: rotateY(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}
